:root{
	--mainColor:#1f1616;
	--secondaryColor:#181e1f;

	--borderColor:#01b41c;

	--mainText:#00c71e;
	--secondaryText:#00c71e;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#11211a;


	--buttonColor:#2aca3e;


}